@media (max-width: 1280px) {
	.splashBgImg {
		width: 1000px;
		height: 1000px;
		top: -500px;
		margin-bottom: -500px;
		margin-left: -500px;
	}
	.firstStaticLine {
		top: 500px;
	    height: 100%;
	}
	.splashBgImg h1 {
		font-size: 7em;
	}
	.upTo1280 {
		display: block;
	}
	.upTo1600 {
		display: none;
	}
	.videoContainer {
		top: -25px;
	    height: 1000px;
	}
	.videoContainer iframe {
	    top: 250px;
	}
}
.mobileOnly.flexCenter {
	display: none;
}
@media (max-width: 980px) {
	.mobileOnly.flexCenter {
		display: flex;
	}
	.flexCenter {
		text-align: center;
	}
	.desktopOnly {
		display: none;
	}
}
@media (min-width: 981px) {
	.navigation li a span {
		padding: 5px 2px 5px 10px;
	    background-color: #fff;
	    border-radius: 10px 0 0 10px;
	}
}
@media (max-width: 1319px) {
	.animatedLineWrapper {
	    top: 170px;
		transform: rotate(-23deg) translateY(-50%);
	}
	.innerPortal {
		width: 400px;
		height: 400px;
	}
}
@media (max-width: 1024px) and (orientation: portrait) {
	.splashBgImg {
		width: 800px;
		height: 800px;
		top: 50px;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		background-size: cover;
		background-position: bottom center;
	}
	.splashBgImg h1 {
		margin-top: 80px;
	}
	.splashOverlay {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.5));
	}
	.logo {
		width: 250px;
		height: 60px;
	}
	nav ul {
		margin: 0;
	}
	header .inner {
		padding: 0 2em;
	}
}
@media (max-width: 1024px) {
	.splashBgImg {
	    width: 900px;
	    height: 900px;
	    top: -450px;
	    margin-bottom: -450px;
		margin-left: -450px;
		background-image: url(../img/saint-marys-campus.jpg);
		background-position: top 410px center;
	}
	.row.top-xs {
	    -webkit-box-align: start;
	    -ms-flex-align: start;
	    align-items: flex-start;
	}
	.splashOverlay {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .65) 40%);
	}
	.lowerLeft {
		margin-bottom: 0;
	}
	.innerPortalSmall {
		width: 200px;
		height: 200px;
	}
	.innerContainer, .inner {
	    width: 100%;
	}
	.videoContainer iframe {
		display: none;
	}
	.ctaImgContainer {
	    width: 80px;
	    height: 80px;
	    flex-basis: 80px;
	    max-width: 80px;
	}
	.innerPortal {
	    width: 350px;
	    height: 350px;
	}
	.innerContainer, .inner {
		padding: 0 4em;
	}
	.maxColWidth {
		max-width: 350px;
	}
}
@media (min-width: 1320px) {
	.innerContainer, .inner {
		margin: auto;
		position: relative;
		width: 1280px;
	}
}
@media (max-height: 750px) {
	header {
		position: relative;
	}
	header .inner {
		width: auto;
		padding: 0;
	}
	header.fixed {
		position: fixed;
	}
	header.fixed .inner {
		max-width: 1280px;
		padding: 0 2em;
	}
}
@media (min-width: 1600px) {
	.inner {
		width: 1600px;
	}
	.splashBgImg {
		height: 1600px;
		top: -800px;
		margin-bottom: -800px;
		width: 1600px;
		margin-left: -800px;
	}
	.splashBgImg h1 {
	    margin-top: 1em;
	}
	.videoContainer iframe {
		top: 400px;
	}
	.section {
		display: table;
		width: 100%;
	}
	.sectionMargin {
		display: table-cell;
		vertical-align: middle;
	}
}
@media (max-width: 450px) {
	.splashBgImg {
		width: 480px;
	    height: 480px;
	    top: -230px;
	    background-position: center;
	    background-size: cover;
	    margin-left: -240px;
	}
	.hideOnMobile {
		display: none;
	}
	.videoContainer iframe {
		display: none;
	}
	.splashOverlay {
		top: 0;
		height: 450px;
	}
	.splashBgImg h1 {
	    font-size: 55px;
	    line-height: 1em;
	    margin-top: 0;
	    top: auto;
	    transform: translateX(-50%);
	    bottom: 20px;
	}
	.logo {
		float: none;
		margin: auto;
		width: 200px;
		margin-top: 50px;
	}
	.fixed .logo {
		float: right;
	}
	header {
		padding: 0;
		bottom: 10vh;
	}
	nav {
		float: none;
		text-align: center;
		margin-bottom: 40px;
		font-size: 0;
	}
	nav a {
		font-size: 18px;
	}
	nav li:last-of-type, nav li {
		margin-right: 0;
	}
	.logo a {
		display: block;
		padding: 15px 0;
		background-color: #fff;
	}
	.fixed .logo a {
		padding: 0;
		background-color: transparent;
	}
	.lowerLeft, .upperRight {
		margin-top: 0;
		margin-bottom: 0;
	}
	.section {
		overflow-x: hidden;
		display: block;
	}
	.ctaImgContainer, .ctaImgContainer ~ .col, .noMarginBottom {
		margin-bottom: 0;
	}
	.ctaContainer {
		margin-top: 50px;
	}
	.innerPortal, .innerPortalLarge, .largePortal {
		width: 300px;
		height: 300px;
	}
	.sectionMargin {
		display: block;
		margin: 0;
	}
	.headerTitle, header.fixed .headerTitle {
		width: auto;
		display: none;
	}
	.headerTitle h1 {
		font-size: 18px;
	}
	.fixed .socialMediaButtons {
		padding: 0;
	}
	.innerContainer {
	    width: 100%;
	    padding: 50px 2em;
	}
	.modal .innerContainer {
		padding-top: 0;
		padding-bottom: 0;
	}
	.inner {
		width: 100%;
	}
	header.fixed .inner {
		padding: 0 1em;
	}
	.headerTitle h1 {
		font-size: 15px;
	}
	header.fixed .logo {
		width: 120px;
		height: 29px;
	}
	.translucentBg, .ctaContainer {
		background-color: rgba(255, 255, 255, .9);
		padding: 25px 15px;
		background-color: #fff;
		position: relative;
	}
	.translucentBg::before, .translucentBg::after {
		position: absolute;
		width: 100px;
		height: 3px;
		background-color: $brandRed;
		left: 50%;
		margin-left: -50px;
		content: "";
	}
	.translucentBg::before {
		top: 0;
	}
	.translucentBg::after {
		bottom: 0;
	}
	.schoolOfBusiness, .scienceAndEngineering, .artsAndSciences {
	    position: relative;
	    left: auto;
		right: auto;
	    text-align: center;
	    max-width: 100%;
	    top: auto;
	}
	.nextSection, .nextSection.right {
		margin-right: auto;
	    padding: 0.5em;
	    background-color: #fff;
	    border: 3px solid $brandRed;
	    border-radius: 100px;
	    margin-left: auto;
	}
	.innerPortalMedium {
		width: 250px;
		height: 250px;
	}
	.negMarginTop150, .negMarginTop50, .noMarginTopMobile {
	    margin-top: 0;
	}
	.negMarginBottom50 {
		margin-bottom: 0;
	}
	.flexLeft {
		align-items: center;
	}
	.center-xs > .textAlignLeft {
		text-align: center;
	}
	nav li {
		border: 3px solid #6e0408;
	    border-radius: 100px;
	    display: inline-block;
	}
	nav li a {
		display: inline-block;
	    border: 0.5em solid #fff;
	}
	h1 {
		margin-bottom: 15px;
	}
}

@media (min-width: 451px) {
	.hideOnDesktop {
		display: none;
	}
}

@media (max-width: 1100px) {
	.col {
		margin-bottom: 3em;
	}
	.negMarginTop150, negMarginTop50, .negMarginBottom50 {
		margin-top: 0;
		margin-bottom: 0;
	}
	.scienceAndEngineering {
	    left: 120px;
	}
	.schoolOfBusiness, .scienceAndEngineering, .artsAndSciences {
	    position: relative;
	    left: auto;
	    right: auto;
	    text-align: center;
	    max-width: 100%;
	    top: auto;
	}
	.artsAndSciences {
	    right: auto;
		max-width: 100%;
	}
}

@media (min-width: 451px) and (max-width: 768px) {
	.programTitle .translucentBg {
		padding: 25px 15px;
	    background-color: #fff;
	    margin: 30px auto;
	}
	.flexCenter, .flexLeft {
	    flex-direction: column;
	    align-items: center;
	}
	.hideOnMobile {
		display: none;
	}
	.hideOnDesktop {
		display: flex;
	}
	.flexBottom-sm {
		align-self: flex-end;
	}
	.flexTop-sm {
		align-self: flex-start;
	}
	.offsetRight-sm {
		left: 40px;
		position: relative;
	}
	.translucentBg, .ctaContainer {
		background-color: rgba(255, 255, 255, .9);
		padding: 25px 15px;
		background-color: #fff;
		position: relative;
	}
	.translucentBg::before, .translucentBg::after {
		position: absolute;
		width: 100px;
		height: 3px;
		background-color: $brandRed;
		left: 50%;
		margin-left: -50px;
		content: "";
	}
	.translucentBg::before {
		top: 0;
	}
	.translucentBg::after {
		bottom: 0;
	}
	.schoolOfBusiness, .scienceAndEngineering, .artsAndSciences {
	    position: relative;
	    left: auto;
		right: auto;
	    text-align: center;
	    max-width: 100%;
	    top: auto;
	}
	.nextSection, .nextSection.right {
		margin-right: auto;
	    padding: 0.5em;
	    background-color: #fff;
	    border: 3px solid $brandRed;
	    border-radius: 100px;
	    margin-left: auto;
	}
	.innerPortalMedium {
		width: 250px;
		height: 250px;
	}
	.negMarginTop150, .negMarginTop50, .noMarginTopMobile {
	    margin-top: 0;
	}
	.negMarginBottom50 {
		margin-bottom: 0;
	}
	.flexLeft {
		align-items: center;
	}
	.center-xs > .textAlignLeft {
		text-align: center;
	}
	nav li {
		border: 3px solid #6e0408;
	    border-radius: 100px;
	    display: inline-block;
	}
	nav li a {
		display: inline-block;
	    border: 0.5em solid #fff;
	}
	h1 {
		margin-bottom: 15px;
	}
}

@media (max-width: 850px) and (orientation: landscape) {
	.splashBgImg {
		width: 500px;
	    height: 500px;
	    top: -250px;
	    background-position: center;
	    background-size: cover;
	    margin-left: -250px;
	}
	.hideOnDesktop {
		display: flex;
	}
	header {
		position: fixed;
	}
	.ctaContainer.end-xs {
		justify-content: flex-start;
	}
	.offsetRight-sm {
		left: auto;
	}
	header .inner {
		padding: 0 2em;
	}
	.sectionBlurb .translucentBg {
		max-width: 500px;
		margin-right: auto;
		margin-left: auto;
	}
	.hideOnMobile {
		display: none;
	}
	.hideOnDesktop .col-xs-12, .hideOnDesktop ~ .row .col-xs-12 {
		flex-basis: 50%;
		max-width: 50%;
	}
	.offsetRight-sm {
		position: relative;
		left: 40px;
	}
	.videoContainer iframe {
		display: none;
	}
	.splashOverlay {
		height: 470px;
	}
	.splashBgImg h1 {
	    font-size: 55px;
	    line-height: 1.15em;
	    margin-top: 0;
	    top: auto;
		bottom: 15px;
	}
	.logo {
		margin: auto;
		width: 200px;
		height: 48px;
	}
	.fixed .logo {
		float: right;
	}
	header {
		padding: 1em 0;
	}
	nav {
		text-align: center;
		font-size: 0;
	}
	nav a {
		font-size: 18px;
	}
	nav li:last-of-type, nav li {
		margin-right: 0;
	}
	.logo a {
		display: block;
		background-color: #fff;
	}
	.fixed .logo a {
		padding: 0;
		background-color: transparent;
	}
	.lowerLeft, .upperRight {
		margin-top: 0;
		margin-bottom: 0;
	}
	.section {
		overflow-x: hidden;
		display: block;
	}
	.col {
		margin-bottom: 3em;
	}
	.ctaImgContainer, .ctaImgContainer ~ .col, .noMarginBottom {
		margin-bottom: 0;
	}
	.ctaContainer {
		margin-top: 50px;
	}
	.innerPortal, .innerPortalLarge, .largePortal {
		width: 300px;
		height: 300px;
	}
	.sectionMargin {
		display: block;
		margin: 0;
	}
	.headerTitle, header.fixed .headerTitle {
		width: auto;
		display: none;
	}
	.headerTitle h1 {
		font-size: 18px;
	}
	.fixed .socialMediaButtons {
		padding: 0;
	}
	.innerContainer {
	    width: 100%;
	    padding: 50px 2em;
	}
	.modal .innerContainer {
		padding-top: 0;
		padding-bottom: 0;
	}
	.inner {
		width: 100%;
	}
	header.fixed .inner {
		padding: 0 1em;
	}
	.headerTitle h1 {
		font-size: 15px;
	}
	header.fixed .logo {
		width: 120px;
		height: 29px;
	}
	.translucentBg {
		background-color: rgba(255, 255, 255, .9);
		padding: 25px 15px;
		background-color: #fff;
		position: relative;
	}
	.translucentBg::before, .translucentBg::after {
		position: absolute;
		width: 100px;
		height: 3px;
		background-color: $brandRed;
		left: 50%;
		margin-left: -50px;
		content: "";
	}
	.translucentBg::before {
		top: 0;
	}
	.translucentBg::after {
		bottom: 0;
	}
	.schoolOfBusiness, .scienceAndEngineering, .artsAndSciences {
	    position: relative;
	    left: auto;
		right: auto;
	    text-align: center;
	    max-width: 100%;
	    top: auto;
	}
	.innerPortalMedium {
		width: 250px;
		height: 250px;
	}
	.negMarginTop150, .negMarginTop50, .noMarginTopMobile {
	    margin-top: 0;
	}
	.negMarginBottom50 {
		margin-bottom: 0;
	}
	.flexLeft {
		align-items: center;
	}
	.center-xs > .textAlignLeft {
		text-align: center;
	}
	h1 {
		margin-bottom: 15px;
	}
}

@media (max-width: 568px) and (orientation: landscape) {
	.splashBgImg {
		top: -320px;
	}
	.splashBgImg h1 {
	    font-size: 40px;
	    bottom: 0;
	}
}

@media (max-width: 450px) and (max-height: 750px) {
	header {
		position: fixed;
		z-index: 10;
		bottom: 10vh;
	}
	header .inner {
		position: static;
	}
}

@media (max-width: 350px) {
	.splashBgImg {
		top: -250px;
	}
	.splashBgImg h1 {
	    font-size: 45px;
	    bottom: 25px;
	    top: auto;
	    transform: translateX(-50%);
	}
	.innerPortal, .innerPortalLarge, .largePortal {
	    width: 250px;
		height: 250px;
	}
	header.fixed .inner {
	    padding: 0 0.5em;
	}
	header.fixed .logo {
	    width: 110px;
	    height: 27px;
	}
}

header.fixed {
	bottom: 0;
}
.fixed .logo {
	margin-top: 0;
}