.st0 {
	fill: $brandRed;
}
.st1 {
	fill: #fff;
}
.headerTitle {
	display: none;
}
.headerTitle h1 {
	font-size: 1.5em;
	color: #fff;
	margin-bottom: 0;
	line-height: 36px;
}
header.fixed {
	width: 100%;
	transition: 0.25s ease-in-out;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 15px 0;
	background-color: $brandRed;
	z-index: 9999;
}
header.scroll {
	position: absolute;
	bottom: 0;
}
.spacer {
	height: 136px;
	width: 100%;
}
.logo {
	transition: 0.25s ease-in-out;
}
header.fixed .logo {
	width: 150px;
	height: 36px;
	transition: 0.25s ease-in-out;
}
header.fixed > .inner > nav {
	display: none;
}
header.fixed .headerTitle {
	display: inline-block;
}
header.fixed .logo .st1 {
	fill: $brandRed;
}
header.fixed .logo .st0 {
	fill: #ffffff;
}

// NEXT SECTION CHEVRONS
.nextSection {
	display: inline-block;
}
.nextSection a {
	background-color: $brandBlue;
	text-decoration: none;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 50px;
	color: #fff;
}
.fa.fa-angle-down, .fa.fa-angle-up {
	font-size: 2em;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
}
.nextText {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.fa-angle-down:before {
	width: 25px;
    height: 25px;
    display: block;
    line-height: 25px;
}
.left .fa-angle-down {
	margin-right: 5px;
}

// VERTIVAL NAV
.navigationContainer {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	text-align: right;
	z-index: 99999;
	overflow: auto;
	display: flex;
	align-items: center;
}
.showVerticalNav .navigationContainer {
	z-index: 9999999;
	background-color: #fff;
}
.modalOpen .navigationContainer {
	z-index: 1;
}
.navigation {
	/*
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	*/
	padding: 20px;
	right: 0;
	transition: 0.25s ease-in-out;
	margin: 0;
}
.navigation li {
	margin-bottom: 25px;
	list-style: none;
	white-space: nowrap;
}
.navigation li a span {
	font-size: 10px;
	opacity: 0;
	visibility: hidden;
	transition: 0.25s ease-in-out;
}
.modalIsVisible .navigationContainer {
	transition: 0.25s ease-in-out;
	transform: translateX(200px);
}
.modalIsVisible.showVerticalNav .navigationContainer {
	transition: 0.25s ease-in-out;
	transform: translateX(0);
}
.showVerticalNav .navigation li a span {
	opacity: 1;
	visibility: visible;
}
.navigation li a:hover span, .navigation li a:focus span {
	opacity: 1;
	visibility: visible;
	transition: 0.25s ease-in-out;
}
.navigation a {
	text-decoration: none;
	color: $brandBlue;
}
.navigation a:after {
	font-family: fontAwesome;
	content: "\F10C";
	margin-left: 10px;
	position: relative;
	top: 1px;
	color: $brandBlue;
	width: 15px;
	height: 15px;
}
.navigation li.current a::after {
	border-radius: 100%;
	content: "\f111";
}

// CLICK TO CONTINUE
.center {
	text-align: center;
}

// HAMBURGER MENU
.hamburger {
	display: none;
	right: 0;
	top: 1em;
	background-color: $brandRed;
	border-radius: 100px 0 0 100px;
	position: fixed;
	transform: translateX(0);
	transition: 0.5s ease-in-out;
	z-index: 999999;
	outline: none;
	padding: 10px 12px 10px 16px;
}
.hamburger.is-active:hover, .hamburger:hover {
	opacity: 1;
}
.hamburger-box {
	width: 30px;
	vertical-align: middle;
	height: 25px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	background-color: #fff;
	width: 30px;
	height: 2px;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: #fff;
}
.hamburger-inner::before {
	top: -8px;
}
.hamburger-inner::after {
	bottom: -8px;
}
.bodyOverlay {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .75);
	left: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 99999;
	transition: 0.5s ease-in-out;
}
.is-active .bodyOverlay {
	opacity: 1;
	visibility: visible;
	transition: 0.5s ease-in-out;
}
.is-active .hamburger {
	transform: translateX(-225px);
	transition: 0.5s ease-in-out;
}
@media (max-width: 980px) {
	.hamburger {
		display: block;
	}
	.navigation {
		padding: 20px;
		transition: 0.25s ease-in-out;
	}
	.navigationContainer {
		width: 225px;
		transform: translateX(225px);
		visibility: hidden;
		transition: 0.5s ease-in-out;
		background-color: $brandRed;
	}
	.openMenu.navigationContainer {
		transform: translateX(0);
		visibility: visible;
		transition: 0.5s ease-in-out;
	}
	.navigation li a span {
		opacity: 1;
		visibility: visible;
	}
	.navigation li a span {
		font-size: 14px;
	}
	.navigation a {
		color: #fff;
	}
	.modalIsVisible.showVerticalNav .navigationContainer {
	    visibility: visible;
		background-color: $brandRed;
	}
}

header.fixed.reveal {
	transition: 0.25 ease-in-out;
	transform: translateY(0);
}

header.fixed {
	transition: 0.25 ease-in-out;
	transform: translateY(66px);
}