// PORTAL FLOATING
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.innerPortal, .innerPortalLarge, .innerPortalSmall, .portalImgContainer {
	border-radius: 100%;
	overflow: hidden;
}
.blueBorder, .greenBorder, .maroonBorder {
	border-width: 15px;
	border-style: solid;
}
.in-viewport .portalImgContainer, .innerPortal.in-viewport {
	transition-delay: 0.5s;
}
.innerPortalSmall.in-viewport {
	transition-delay: 1s;
}
.innerPortal {
	width: 500px;
	height: 500px;
	border-radius: 100%;
	animation: float 6s ease-in-out infinite;
	overflow: hidden;
	border: 15px solid #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}
.innerPortalMedium {
	width: 400px;
	height: 400px;
	border-radius: 100%;
    overflow: hidden;
	animation: float 5s ease-in-out infinite;
}
.blueBorder, .innerPortalSmall.blueBorder {
	border-color: $brandBlue;
}
.greenBorder, .innerPortalSmall.greenBorder {
	border-color: $brandGreen;
}
.maroonBorder, .innerPortalSmall.maroonBorder {
	border-color: $brandRed;
}

// PORTAL MAIN STYLES
.relativePortal, .smallPortal.relativePortal {
	position: relative;
}
.portalContainer, .portalContainer img {
	border-radius: 100%;
}
.portalContainer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-color: #fff;
}

.animatedLine {
	height: 10px;
}

// FLEX DISPLAY
.flexCenter {
	display: flex;
	justify-content: center;
}
.flexCenterCol {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.flexLeft {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
.flexRight {
	display: flex;
	justify-content: flex-end;
}
.alignSelfTop {
	align-self: flex-start;
}
.flexDirectionColumn {
	flex-direction: column;
}

// NEGATIVE MARGINS
.negMarginTop150 {
	margin-top: -150px;
}

// LARGE PORTALS
.largePortal {
	
}

.marginLeftAuto {
	margin-left: auto;
}

// MEDIUM PORTALS
.mediumPortal {
	width: 350px;
	height: 350px;
}

// VERTICAL ALIGN
.alignBottom {
	align-self: flex-end;
}

.upperRight {
	align-self: flex-start;
	margin-top: -100px;
}
.lowerLeft {
	align-self: flex-end;
	margin-bottom: -50px;
}
.lowerLeft {
	bottom: 0;
	left: 0;
}
.upperLeft {
	top: 0;
	left: 300px;
}
.lowerLeft {
	bottom: 0;
	left: 0;
}

// INNER PORTALS
.innerPortalLarge {
	width: 500px;
	height: 500px;
}
.innerPortalSmall {
	width: 250px;
	height: 250px;
	margin: auto;
	animation: float 5s ease-in-out infinite;
}

// INTRO VIDEO
#intro-video .animatedLineWrapper.firstLine {
	transform: rotate(-22deg);
}

// PORTAL OVERLAYS
.portalContainer {
	border-radius: 100%;
}
.portalImgContainer {
	position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 100%;
    z-index: 2;
}
.portalImgContainer img {
	transition: 1s ease-in-out;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.portalImgContainer:hover > img {
	transform: scale(1.1);
	transition: 1s ease-in-out;
}
.portalImgContainer::before {
	position: absolute;
	height: calc(100% - 10px);
    width: calc(100% - 10px);
	content: "";
	background-color: rgba(0,0,0,.25);
	top: 0;
	left: 0;
	border-radius: 100%;
	z-index: 1;
	transition: 1s ease-in-out;
	border: 5px solid #fff;

}
.portalImgContainer.blueOverlay::before {
	background-color: rgba(90, 150, 175, 0.75);
}
.portalImgContainer:hover::before {
	background-color: rgba(0, 0, 0, .75);
	transition: 1s ease-in-out;
}

// PORTAL ICONS
.iconContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	transform: translate(-50%,-50%);
	transform-origin: 0 0;
	z-index: 3;
	transition: 1s ease-in-out;
}
.iconContainer svg {
	fill: #fff;
	transition: 1s ease-in-out;
}
.portalImgContainer:hover .iconContainer svg {
	fill: $brandBeige;
	transition: 1s ease-in-out;
}
.portalImgContainer:hover .iconContainer {
	transform: scale(1.3) translate(-50%,-50%);
	transition: 1s ease-in-out;
}
.smallPortal .portalImgContainer:hover .iconContainer {
	transform: scale(1.1) translate(-50%,-50%);
}

.openModal:focus, .openModal:focus-visible, .openModal:active {
	outline: 3px solid $brandBlue;
}
body.using-mouse *:focus, body.using-mouse .openModal:focus, body.using-mouse .openModal:focus-visible, body.using-mouse .openModal:active {
	outline: none;
}
.openModal {
	display: block;
}
/*
.openModal {
	display: flex;
	flex-direction: column;
}
.alignItemsCenter {
	align-items: center;
}
*/
.alignItemsCenter > div {
	margin: auto;
}